
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Recetas Chef Masters </a>
  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
	<ul class="navbar-nav mr-auto">
	  <input placeholder="Receta" aria-label="Receta" type="search" class="form-control mr-sm-2"/>
	  <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	  <li class="nav-item active">
	  </li>
	  <li class="nav-item">
	  </li>
	  <li class="nav-item">
	  </li>
	</ul>
	<a href="info" class="nav-link">Chef<div>
	  <div>
		<div>
		  <span class="sr-only">(current)</span>
		</div>
	  </div>
	  </div></a>
	<form class="form-inline my-2 my-lg-0">
	</form>
  </div>
</nav>