<hr>
<h1> PLATOS </h1>
<div class="card">
  </div>
  <div class="container-fluid">
  </div>
  <div class="card bg-dark text-white">
  </div>
  <div class="card-group">
    <div class="card">
    <img data-type="image" src="https://source.unsplash.com/collection/190727/300x300" alt="..." class="card-img-top"/>
    <div class="card-body">
      <h5 data-type="header" class="card-title">Card title
      </h5>
      <p data-type="paragraph" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
    </div>
    </div>
    <div class="card">
    <img data-type="image" src="https://source.unsplash.com/collection/190727/300x300" alt="..." class="card-img-top"/>
    <div class="card-body">
      <h5 data-type="header" class="card-title">Card title
      </h5>
      <p data-type="paragraph" class="card-text">This card has supporting text below as a natural lead-in to additional content.
      </p>
    </div>
    </div>
    <div class="card">
    <img data-type="image" src="https://source.unsplash.com/collection/190727/300x300" alt="..." class="card-img-top"/>
    <div class="card-body">
      <h5 data-type="header" class="card-title">Card title
      </h5>
      <p data-type="paragraph" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
      </p>
    </div>
    </div>
  </div>