<app-navbar>  </app-navbar>

<section class="gb-section">
    <div class="row gb-row">
    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12 gb-fit"> 
    </div>
    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12 gb-col-xl-5">
      <h1 data-type="header" class="display-1 gb-display-1">I'M 
      <span class="gb-green">ETHAN</span>
      </h1>
      <h1 data-type="header" class="gb-heading-one">Graphic 
      <span class="gb-green">&</span> Web Designer
      </h1>
      <p data-type="paragraph" class="lead gb-lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      </p>
      <h2 data-type="header" class="gb-green gb-heading-two gb-gb-green gb-gb-green-1 gb-gb-green-2">Objective
      </h2>
      <p data-type="paragraph" class="lead gb-lead">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      </p> 
      <a href="#" class="btn btn-lg btn-dark gb-btn">Download Resume</a>
      <hr/> 
      <a href="#" class="gb-btn-rounded btn-inverse btn btn-dark btn-lg gb-btn"><i class="fa fa-facebook">
      </i></a> 
      <a href="#" class="gb-btn-rounded btn-inverse btn btn-dark btn-lg gb-btn"><i class="fa fa-twitter">
      </i></a>
      <a href="#" class="gb-btn-rounded btn-inverse btn btn-dark btn-lg gb-btn"><i class="fa fa-linkedin-square">
      </i></a> 
      <a href="#" class="gb-btn-rounded btn-inverse btn btn-dark btn-lg gb-btn"><i class="fa fa-instagram">
      </i></a>
      <a href="#" class="gb-btn-rounded btn-inverse btn btn-dark btn-lg gb-btn"><i class="fa fa-google-plus">
      </i></a>
    </div>
    </div>
  </section>